body {
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.titles {
  font-size: 250%;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.sub-titles {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.upper-nav {
  margin-left: -5%;
  margin-right: -5%;
  text-align: center;
  margin-bottom: 10px;
  background-color: #f46905;
}
.lower-nav {
  margin-left: -5%;
  margin-right: -5%;
  text-align: center;
  margin-bottom: 10px;
  background-color: #f46905;
}
